@model TasteIt.Web.Models.Ingredient.AlphabeticalPagingViewModel
@{
    ViewBag.Title = "_IngredientPartial";
}

@foreach (var item in Model.Ingredients)
{
    <div class="col-md-6 text-center">
        <div class="container-articles">
            <h4 class="section-subtitles">
                item.Name
                @*
                <strong>
                    @Html.ActionLink(item.Name, "/Details" + item.Url, "Ingredients")
                </strong>
                *@

            </h4>
            <img src="@item.IngredientImage" class="images-home" />
        </div>
    </div>
}