@model TasteIt.Web.Models.User.UserViewModel
@{
    ViewBag.Title = "Index";
}

<h2>User Details page</h2>
@*
    <table>
        <tr>
            <th>Comment</th>
            <th>Created on</th>
        </tr>

        @foreach (var item in Model.MyComments)
        {
            <tr>
                <th>@item.Content</th>
                <th>@item.CreatedOn</th>
            </tr>
        }

    </table>
*@


