@model IEnumerable<TasteIt.Web.Models.Article.ArticleViewModel>
@{
    ViewBag.Title = "_ArticlePartial";
}

@foreach (var article in Model)
{
    <div class="col-md-4 text-center">
        <div class="container-articles">
            <h4 class="section-subtitles">
                <strong>
                    @Html.ActionLink(article.Title, "/Details" + article.Url, "Articles")
                </strong>
            </h4>
            <p><span class="glyphicon glyphicon-calendar"></span> @article.CreatedOn</p>
            <img src="@article.ArticleImage" class="images-home" />
        </div>
    </div>
}

