@model TasteIt.Web.Models.Article.ArticleListViewModel
@{
    ViewBag.Title = "_PagingPartial";
}

<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
            {
            <li>
                <a href="/Articles/Index/@(Model.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="/Articles/Index/@i">@i</a></li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
            {
            <li>
                <a href="/Articles/Index/@(Model.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>