@model IEnumerable<TasteIt.Web.Models.Article.ArticleViewModel>
@{
    ViewBag.Title = "RelatedArticles";
}

<div class="jumbotron">
    <h1 class="text-center">Related Articles</h1>
    <h3 class="text-center">category: <i class="logo">@Model.Take(1).FirstOrDefault().Category.ToString()</i></h3>
    <hr />

    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-md-4 text-center">
                <div class="container-articles">
                    <h4 class="section-subtitles"><strong>@Html.ActionLink(article.Title, article.Url, "Articles")</strong></h4>
                    <p><span class="glyphicon glyphicon-calendar"></span> @article.CreatedOn</p>
                    <img src="@article.ArticleImage" class="images-home" />
                </div>
            </div>

        }
    </div>
</div>

