@model IEnumerable<TasteIt.Web.Models.Article.ArticleViewModel>
@{
    ViewBag.Title = "RelatedArticles";
}

<div class="jumbotron">
    <h1 class="text-center">Related Articles</h1>
    <h3 class="text-center">category: <i class="logo">@Model.Take(1).FirstOrDefault().Category.ToString()</i></h3>
    <hr />

    <div class="row">
        @Html.Partial("_ArticlePartial")
    </div>

    <div>@Html.ActionLink("Back to articles", "/", null, new { @class = "btn btn-primary" })</div>
</div>

