@{
    ViewBag.Title = "About";
}

<h1 class="logo">Taste it!</h1>

<h4>Learn about your favorite food</h4>
<strong>Mission:</strong>
<div>
    TasteIt is an informational application, in witch the user can learn interesting information about food products, read articles related to food and also find appropriate recipe.
</div>
