@{
    ViewBag.Title = "Contact";
}

<h2>Contacts</h2>

<p><strong>Address: </strong>Sofia 100, bul. Todor Aleksandrov 65</p>
<p><strong>Email: </strong> tasteIt@abv.bg</p>
<p><strong>Phone: </strong>0888 888 888</p>
<p><strong>Follow us: </strong><a href="http://facebook.com">facebook.com</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11728.3463846054!2d23.307856903155436!3d42.70188713242254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8682cb317bf5%3A0x400a01269bf5e60!2z0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1456087124354" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
