@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to <i>Taste it</i></h1>
</div>


<div class="container">
    <ul class="bxslider">
        <li>
            @Html.ActionLink("Ingredients", "Index", "Ingredients", new { area = "" }, new { @class = "navbar-brand" })
            <img class="home-page-image" src="~/Images/Ingredients.jpg" title="Ingredients" />
        </li>
        <li>
            @Html.ActionLink("Recipes", "Index", "Recipes", new { area = "" }, new { @class = "navbar-brand" })
            <img class="home-page-image" src="~/Images/Recipe.jpg" title="Recipes" />
        </li>
        <li>
            @Html.ActionLink("Articles", "Index", "Articles", new { area = "" }, new { @class = "navbar-brand" })
            <img class="home-page-image" src="~/Images/Article.png" title="Articles" />
        </li>
    </ul>
</div>


<script>
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true,
        auto:true
    });
</script>
