@model TasteIt.Web.Models.Recipe.RecipesIndexViewModel
@{
    ViewBag.Title = "GetBySeason";
}

<h2>Recipes By Season</h2>

@if (Model == null)
{
    <div>No recipes in this season!</div>
}

@Html.Partial("_RecipePartial")

@Html.ActionLink("Back to recipes", "", "Recipes", null, new { @class = "btn btn-primary" })
