body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/Wood-background.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer p {
  text-align: center;
  font-size: 1.1em;
  max-height: 200%;
  padding: 5px 0 12px;
  position:absolute;
  bottom:0 auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: rgb(169,3,41); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  color:white;
  width:80%;
  margin-left:-300px;
}

.container .body-content{
    width:80%;
}

.glyphicon {
    color: blue;
    
}

.home-page{
    color:#000551;
    text-align:center;
    font-size:5em;
}

.home-page-paragraph{
    color:#000551;
    text-align:center;
    font-size:4em;
}

.home-page-image {
    text-align:center;
    width: 960px;
    height:530px;
}

.container{
    width:930px;
    margin: 0 auto;
}
