body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/Wood-background.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*p {
  text-align: center;
  font-size: 1.1em;
  max-height: 200%;
  padding: 5px 0 12px;
  position:absolute;
  bottom:0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
   /* background: rgb(169,3,41); /* Old browsers */
   /* background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
   /* background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
   /* background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

   /* color:white;
   /* width:80%;
   /* margin-left:-190px;
}
*/

.container .body-content{
    width:80%;
}

.glyphicon {
    color: darkcyan;
    
}

.home-page{
    color:#000551;
    text-align:center;
    font-size:5em;
}

.home-page-paragraph{
    color:#000551;
    text-align:center;
    font-size:4em;
}

.home-page-image {
    text-align:center;
    width: 920px;
    height:450px;
}

.slide-container{
    width:930px;
    margin: 0 auto;
}

.images-home{
    padding-top:10px;
    text-align:center;
    width: 300px;
    height:180px;
}

.container-articles{
    padding:10px;
}

.logo{
    color:#1d7777
}

.section-titles{
    padding-left: 80px;

}

.section-titles a{
    color:#1d7777;
    font-style:italic;
}

.section-titles a:hover{
    color:#1d7777
}

.section-subtitles a{
    color: #666464;
    padding:0;
}

.section-subtitles a:hover{
    color:#1d7777
}

.detail-text{
    font-size:1.3em;
    width:90%;
    font-family:'Bookman Old Style';
}

.detail-text :first-letter{
    padding-top:20px;
    font-size:100%;
    color: #666464;
}

.detail-image{
    width: 750px;
    height: 500px;
    padding-bottom: 20px;
    text-align:center;
    margin-left:250px;
}

.relatedArticle-link-titles a{
    color: #666464;
}
.relatedArticle-link a:hover{
    color:#1d7777
}

.recipe-image{
    width: 350px;
    height: 250px;
}

.comment-image{
    width: 100px;
    height: 100px;
}

.comment-content{
    border:1px solid #a39d9d;
    background-color:#F5F5F5;
    margin-left:170px;
    width:80%;
    height: 50px;
}

.ingredient-image{
    width: 100px;
    height: 100px;
}